@page
@model IndexModel
@using openmarket.Models;
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section head{
<title>OpenMarket Portugal Anúncios Classificados</title>
<meta name="title" content="OpenMarket Portugal Anúncios Classificados" />
<meta name="description"
    content="O OpenMarket é a maior plataforma de classificados em Portugal. Compra e vende imoveis, carros, smartphones, computadores, roupas e muitos outros produtos." />
@* Facebook, Others *@
<meta property="og:title" content="OpenMarket Portugal Anúncios Classificados">
<meta property="og:image" content="https://www.openmarket.com/imgs/Logotipo.jpg">
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:url" content="https://www.openmarket.com">
<meta property="og:type" content="article" />
<meta property="og:description"
    content="O OpenMarket é a maior plataforma de classificados em Portugal. Compra e vende imoveis, carros, smartphones, computadores, roupas e muitos outros produtos.">
@* Twitter *@
<meta property="twitter:title" content="OpenMarket Portugal Anúncios Classificados">
<meta name="twitter:description"
    content="O OpenMarket é a maior plataforma de classificados em Portugal. Compra e vende imoveis, carros, smartphones, computadores, roupas e muitos outros produtos.">
<meta name="twitter:image" content="https://www.openmarket.com/imgs/Logotipo.jpg">
<meta name="twitter:card" content="summary_large_image">

<link rel="canonical" href="https://openmarket.com/" />
<link rel="stylesheet" href="~/css/index.css?v=104" />
<script defer src="~/js/index.js?v=104"></script>
}
@section login{
<div class="navbar-login">
    <a class="login-link" href="~/entrar">My OpenMarket</a>
</div>
}
<div id="alert-warning">
    <p>Conhece as nossas dicas para comprar com mais segurança</p>
    <div>
        <div>
            <a href="dicas-seguranca">Saber mais</a>
        </div>
        <div>
            <span onclick="closeDiv('alert-warning')">&times;</span>
        </div>
    </div>
</div>
<div id="search-container">
    <div class="search-navbar" id="search-navbar">
        <div onmouseleave="closeDiv('nav-results')" id="searchbar-search">
            <input onsearch="search()" onkeypress="loadSuggestions('index');" type="search" id="searchbar-text"
                asp-for="@Model.searchText" placeholder="O que procura?">
            <ul id="nav-results">

            </ul>
        </div>
        <div onmouseleave="hideCities()" id="location">
            <input placeholder="Portugal" readonly type="search" id="search-city" onclick="showCities()">
            <ul id="nav-cities">
                <li class="city-option">
                    <a class="city-link" onclick="locationName('Portugal', 'pais'); loadAdverts('index');"
                        href="#">Portugal</a>
                </li>
                @foreach (var city in Model.cities)
                {
                    <li class="city-option">
                        <a class="city-link" onclick="locationName('@city.name', 'provincia'); loadAdverts();"
                        href="#">@city.name <i></i></a>
                        <ul class="sub-nav">
                            <li class="municipality-option"><a
                                onclick="locationName('@city.name', 'provincia'); loadAdverts();"
                                class="municipality-link" href="#">Região: @city.name</a></li>
                            @foreach (var municipalities in Model.municipalities.Where(x => x.city == @city.id))
                            {
                                <li class="municipality-option"><a
                                onclick="locationName('@municipalities.name', 'municipio'); loadAdverts();"
                                class="municipality-link" href="#">@municipalities.name</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <button onclick="search()" title="Pesquisar" class="search-button" name="buttonSubmit"
            type="button">Pesquisar<img class="button-search-image" src="imgs/search.png" alt="Search"><span
                class="button-search-loading loading-effect"></span></button>
    </div>
    <script async src="~/js/menu.js?v=104"></script>
</div>
<div id="categories-container">
    <h2>Categorias</h2>
    <div>
        @foreach (var item in Model.groups)
        {
            var imgSrc = string.Empty;
            if (@item.filename != null)
            {
                imgSrc = "/grupos/" + @item.filename;
            }
            valueFormat formatter = new valueFormat();
            string categoryName = formatter.encodeText(@item.name);
            <a class="category-item" href="/anuncios?categoria=@categoryName">
                <img class="category-image" src="@imgSrc" alt="@item.name">
                <p class="category-name">@item.name</p>
            </a>
        }
        <a class="category-item" href="/anuncios">
            <img class="category-image" src="/grupos/Todos.png" alt="Todos Anúncios">
            <p class="category-name">Todos Anúncios</p>
        </a>
    </div>
</div>
<div id="adverts-container">
    <h1 id="adverts-title">Destaques no OpenMarket</h1>
    <div id="adverts-content" class="adverts-content">
        @if (Model.adverts.Count() == 0)
        {
            <div id="noAdverts">
                <img src="~/imgs/adverts.png" alt="Sem anúncios">
                <h3>Sem anúncios para apresentar.</h3>
            </div>
        }
        else
        {
            foreach (var item in Model.adverts)
            {
                var url = "anuncio?";
                var advert_name = @item.title;

                valueFormat formatter = new valueFormat();

                var advert_id = "&id=" + @item.id;
                url = url + formatter.urlFormat(advert_name) + advert_id;
                <a href="@url" class="advert-content" onclick="viewRegister(@item.id, 'Index')">
                    @{
                        var imgSrc = string.Empty;
                        if (@item.image_filename != null)
                        {
                            imgSrc = "/anuncios/" + @item.image_filename;
                        }
                        else
                        {
                            imgSrc = "/imgs/WithoutImage.jpg";
                        }
                        <img src="@imgSrc" alt="@item.title">
                    }
                    <div>
                        <h4 class="advert-title">@item.title</h4>
                        @if (item.orc == "true" || item.price == 0)
                        {
                            <p class="advert-price">Sob orçamento</p>
                        }
                        else
                        {
                            double d = @item.price;
                            string res = d.ToString("### ### ### ### ###.00");
                            <p class="advert-price">@res €</p>
                        }
                        <p class="advert-location">@item.municipality, @item.city</p>
                        @{
                            var date = @item.date;
                            if (date.Date == DateTime.Now.Date)
                            {
                                <p class="advert-date">Hoje às @item.date.ToString("HH:mm")</p>
                            }
                            else if (date.Date == DateTime.Now.Date.AddDays(-1))
                            {
                                <p class="advert-date">Ontem às @item.date.ToString("HH:mm")</p>
                            }
                            else
                            {
                                var month = char.ToUpper(@item.date_month[0]) + @item.date_month.Substring(1);
                                <p class="advert-date">@item.date.Day @month</p>
                            }
                        }
                        @if (item.type == "Venda")
                        {
                            <span class="advert-type advert-type-sell">@item.type.ToUpper()</span>
                        }
                        else if (item.type == "Compra" || item.type == "Procura")
                        {
                            <span class="advert-type advert-type-buy">@item.type.ToUpper()</span>
                        }
                        @* else if(item.type == "Troca")
                            {
                            <span class="advert-type advert-type-change">@item.type.ToUpper()</span>
                            } *@
                        else if (item.type == "Contratar" || item.type == "Arrendar")
                        {
                            <span class="advert-type advert-type-contract">@item.type.ToUpper()</span>
                        }
                        else if (item.type == "Serviço")
                        {
                            <span class="advert-type advert-type-service">@item.type.ToUpper()</span>
                        }
                    </div>
                    @if (!string.IsNullOrEmpty(@item.sponsored))
                    {
                        <span class="advert-sponsored">PATROCINADO</span>
                    }
                </a>
            }
        }
    </div>
</div>
<div id="ads-adverts-index" class="ads ads-adverts"></div>
<div id="about-us">
    <div class="about-buttons">
        <button onclick="howto_options('quero-comprar')" class="about-button" id="button-buy" type="button">Quero
            comprar</button>
        <button onclick="howto_options('quero-vender')" class="about-button" id="button-sell" type="button">Quero
            vender</button>
    </div>
    <div id="quero-comprar">
        <div class="about-header">
            <h2>Encontra o negócio perfeito para ti</h2>
            <p>O OpenMarket é o maior site de classificados de Portugal.</p>
            <p>Encontra o que procuras e fecha negócio.</p>
        </div>
        <div class="about-content">
            <div class="about-info about-purchase">
                <img src="/imgs/artigos.png" alt="Procura um artigo">
                <div>
                    <h3>Procura um artigo</h3>
                    <p>Na página principal podes pesquisar por um artigo ou explorar uma categoria. Milhares de anúncios
                        divididos pelas várias categorias disponiveis.</p>
                </div>
            </div>
            <div class="about-info about-purchase">
                <img src="/imgs/procurar.png" alt="Encontra o anúncio certo">
                <div>
                    <h3>Encontra o anúncio certo</h3>
                    <p>Lê o anúncio, confere as fotografias e vê o perfil do vendedor. Não te esqueças de prestar
                        atenção a
                        todos os detalhes.</p>
                </div>
            </div>
            <div class="about-info about-purchase">
                <img src="/imgs/contactar.png" alt="Entra em contacto com o vendedor">
                <div>
                    <h3>Entra em contacto com o vendedor</h3>
                    <p>Escolhe uma das formas de contactar o vendedor (telefone, mensagem ou email) e obtem mais
                        informações
                        sobre o anúncio, negoceia o preço e fecha o negócio.</p>
                </div>
            </div>
            <div class="about-info about-purchase">
                <img src="/imgs/finalizado.png" alt="Compra e recebe o artigo">
                <div>
                    <h3>Compra e recebe o artigo</h3>
                    <p>Finaliza o negócio. Encontra-te com o vendedor num local publico e seguro como um centro
                        comercial ou
                        uma bomba de combustivel.</p>
                </div>
            </div>
        </div>
        <div class="about-slide-buttons">
            <span class="slide-button previus" onclick="nextAbout(-1)">&#10094;</span>
            <span class="slide-button next" onclick="nextAbout(1)">&#10095;</span>
        </div>
    </div>
    <div style="display: none;" id="quero-vender">
        <div class="about-header">
            <h2>Encontra potênciais compradores</h2>
            <p>O OpenMarket é o maior site de classificados de Portugal.</p>
            <p>Vende os teus artigos e fecha negócio.</p>
        </div>
        <div class="about-content">
            <div class="about-info about-seller">
                <img src="/imgs/formulario.png" alt="Publica o anúncio">
                <div>
                    <h3>Publica o anúncio</h3>
                    <p>Preenche o formulário com uma descrição detalhada sobre o produto. Coloca sempre fotografias do
                        artigo para impulsionar a venda.</p>
                </div>
            </div>
            <div class="about-info about-seller">
                <img src="/imgs/verificado.png" alt="Aguarda a aprovação">
                <div>
                    <h3>Aguarda a aprovação</h3>
                    <p>Todos os anúncios são revisionados pela nossa equipa de moderação. Este processo ajuda a detectar
                        burlas tornando o OpenMarket um site mais seguro.</p>
                </div>
            </div>
            <div class="about-info about-seller">
                <img src="/imgs/mensagens.png" alt="Entra em contacto com o vendedor">
                <div>
                    <h3>Responde aos compradores</h3>
                    <p>Responde às perguntas dos compradores, dá-lhes um pouco mais de informação sobre o artigo caso
                        seja
                        necessário.</p>
                </div>
            </div>
            <div class="about-info about-seller">
                <img src="/imgs/concluido.png" alt="Compra e recebe o artigo">
                <div>
                    <h3>Vende e entrega o artigo</h3>
                    <p>Finaliza o negócio. Encontra-te com o comprador num local publico e seguro como um centro
                        comercial
                        ou
                        uma bomba de combustivel.</p>
                </div>
            </div>
        </div>
        <div class="about-slide-buttons">
            <span class="slide-button previus" onclick="nextAboutSeller(-1)">&#10094;</span>
            <span class="slide-button next" onclick="nextAboutSeller(1)">&#10095;</span>
        </div>
    </div>
</div>
<div class="openmarket-ads horizontal-ads ads-bottom">
    <a href="https://www.openmarket.com">
        <img src="/pubs/anuncios-horizontal.jpg" alt="OpenMarket">
    </a>
    <p>OpenMarket Ads</p>
</div>
@if (Model.alerts_list != null)
{
    foreach (var alert in Model.alerts_list)
    {
        <div class="alerts-container">
    <div class="alert-content">
        <span onclick="closePanel('alerts-container');cookieAlert('fz_idx', '@alert.cookie_time');">&times;</span>
        <h2>@alert.title</h2>
        <textarea id="alert-text" readonly>@alert.text</textarea>
        <script>
            var textarea = document.getElementById("alert-text");
            textarea.style.height = textarea.scrollHeight + 20 + "px";
        </script>
        @if (!string.IsNullOrEmpty(@alert.button_text))
                {
                    <a onclick="cookieAlert('fz_idx', '@alert.cookie_time')" href="@alert.button_url">@alert.button_text</a>
                }
            </div>
        </div>
    }
}