@page
@model MyApp.Namespace.termos_condicoesModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section head{
<title>OpenMarket - Termos e Condições</title>
<meta name="title" content="OpenMarket - Termos e Condições" />
<meta name="description" content="Termos e condições para a utilização do website e aplicações do OpenMarket." />
@* Facebook, Others *@
<meta property="og:title" content="OpenMarket - Termos e Condições">
<meta property="og:image" content="https://www.openmarket.com/imgs/Logotipo.jpg">
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:url" content="https://www.openmarket.com/minha-conta/termos-condicoes">
<meta property="og:type" content="article" />
<meta property="og:description" content="Termos e condições para a utilização do website e aplicações do OpenMarket.">
@* Twitter *@
<meta property="twitter:title" content="OpenMarket - Termos e Condições">
<meta name="twitter:description" content="Termos e condições para a utilização do website e aplicações do OpenMarket.">
<meta name="twitter:image" content="https://www.openmarket.com/imgs/Logotipo.jpg">
<meta name="twitter:card" content="summary_large_image">

<link rel="canonical" href="https://www.openmarket.com/termos-condicoes/" />
<link rel="stylesheet" href="~/css/pages.css?v=104" />
}
@section login{
<div class="navbar-login">
    <a class="login-link" href="~/entrar">My OpenMarket</a>
</div>
}
<div class="openmarket-ads vertical-ads pages-ads">
    <a href="https://www.openmarket.com">
            <img src="/pubs/anuncios-vertical.jpg" alt="OpenMarket">
        </a>
        <p>OpenMarket Ads</p>
</div>
<div class="info-content terms-conditions">
    <h2>Termos e Condições Gerais de Utilização do Website e Aplicações</h2>
    <details>
        <summary>Informação Geral</summary>
        <p>Os presentes Termos e Condições definem as regras de utilização do Site e/ou das Aplicações, definem as
            regras em
            que o serviço é prestado, as regras de participação dos Anunciantes e contêm a informação pré contratual
            obrigatória nos termos da legislação aplicável.</p>
        <p>Cada vez que utilizar o site e/ou Aplicações verifique os Termos e Condições e assegure-se que os compreende.
        </p>
        <p>Qualquer Utilizador declara que, ao aceder e utilizar o serviço <span>OpenMarket</span>, através do Site e/ou
            das
            Aplicações, aceita expressamente e sem reservas os presentes termos e condições. Se não concordar, não deve
            utilizar o nosso Site e/ou as Aplicações.</p>
    </details>
    <details>
        <summary>Definições</summary>
        <p><span>Anunciante:</span> refere-se a qualquer pessoa física ou pessoa jurídica estabelecida em Portugal,
            titular de
            uma Conta Profissional ou Particular e que publicou um anúncio através do nosso serviço. O termo
            "anunciante"
            inclui os dois tipos de anunciantes que inserem anúncios através do nosso serviço, a saber:</p>
        <ul>
            <li class="dot"><span>Anunciante Particular:</span> São feitos por pessoas físicas, sem intermédio de
                empresas, e com
                capacidade jurídica para celebração de contratos. Todos os itens anunciados deverão ser de uso pessoal,
                não
                tendo sido adquiridos ou produzidos com o objetivo principal de (re)venda.</li>
            <li class="dot"><span>Anunciante "Profissional":</span> São considerados profissionais os anúncios feitos
                por
                pessoa
                colectiva para fins relacionados com a sua actividade comercial, artesanal, industrial ou profissional
                ou
                particular que aja enquanto comerciante ou profissional. Não obstante o supra exposto, a OpenMarket tem o
                direito
                de converter os registos dos anunciantes não profissionais em anunciantes profissionais sempre que os
                mesmos
                exerçam uma actividade económica com carácter profissional ou estes adoptem comportamentos
                característicos
                de
                anunciantes profissionais, o que será aferido tendo em conta vários factores, nomeadamente o nome, dados
                de
                contacto e a frequência de colocação da mesma tipologia de anúncios.</li>
        </ul>
        <p><span>Anúncio:</span> significa todos os elementos e dados (visual, textual, som, fotografias, desenhos),
            colocados por um anunciante sob sua responsabilidade editorial, para comprar, doar, arrendar ou vender um
            bem ou
            para propor ou pesquisar um serviço ou trabalho.</p>
        <p><span>Serviço:</span> cedência de espaço no Site e/ou Aplicações tendente à colocação e divulgação de anúncio
            por
            parte do Anunciante.</p>
        <p><span>Visitante:</span> qualquer visitante que tenha acesso ao serviço <span>OpenMarket</span> através do site
            e
            das Aplicações e consultando o serviço <span>OpenMarket</span>, acessível a partir dos vários meios de
            comunicação.</p>
        <p><span>Suporte duradouro:</span> um instrumento que possibilite aos utilizadores conservar informações que
            lhes
            sejam pessoalmente dirigidas de um modo que, no futuro, lhes permita aceder às mesmas durante um período de
            tempo adequado aos fins a que as informações se destinam e que possibilite a reprodução inalterada das
            informações armazenadas.</p>
    </details>
    <details>
        <summary>Utilização do Site e Aplicações</summary>
        <p>Ao contratar os nossos serviços está a celebrar um contrato por meios electrónicos - contratação electrónica
            - e
            a prestação do serviço está dependente da aceitação dos termos e condições.</p>
        <p>Antes de concluir o processo de contratação de serviços com o <span>OpenMarket</span> deve verificar as
            informações
            que aqui lhe são prestadas.</p>
        <p>Ao aceitar os Termos e Condições está, inclusivamente, a reconhecer que:</p>
        <ol>
            <li class="numeric">Conhece e aceita os termos e condições em que a <span>OpenMarket</span> presta o serviço,
                as
                regras
                de utilização do site e da aplicação e que tais termos e condições podem ser alterados a qualquer
                momento.
            </li>
            <li class="numeric">O site <span>openmarket.com</span>, bem como a aplicação <span>OpenMarket</span> permite não
                só
                a
                navegação como Anunciante, mas também como Visitante.</li>
            <li class="numeric">Se aceder ao nosso site ou aplicação na modalidade de Visitante, apenas serão
                solicitados os
                dados estritamente necessários para dar cumprimento à sua consulta ou pedido, de acordo com a nossa
                Política
                de
                Privacidade e de Cookies constantes do nosso site.</li>
            <li class="numeric">Conservamos as mensagens armazenadas na sua conta.</li>
        </ol>
        <p>As conversas que mantenha no chat não são privadas e podem ser recolhidas e lidas pela <span>OpenMarket</span>,
            o
            que autoriza.</p>
    </details>
    <details>
        <summary>Alterações aos Termos e Condições</summary>
        <p>Os Termos e Condições podem ser alterados pelo <span>OpenMarket</span> a qualquer momento.</p>
        <p>O <span>OpenMarket</span> notificará, em suporte duradouro, os anunciantes profissionais de qualquer proposta
            de
            alteração dos presentes termos e condições gerais com um prazo de pré-aviso mínimo de 15 dias.</p>
        <p>O <span>OpenMarket</span> assegura que as alterações propostas não serão aplicadas antes do termo de um prazo
            de
            pré-aviso.</p>
        <p>Os anunciantes profissionais têm o direito de resolver o contrato com o <span>OpenMarket</span> antes do termo
            do
            prazo de pré-aviso. Essa resolução do contrato produz efeitos no prazo de 15 dias a contar da recepção da
            notificação de alteração.</p>
        <p>Os anunciantes profissionais podem, por via de uma declaração escrita ou de um consentimento expresso,
            renunciar
            ao prazo de pré-aviso em qualquer momento após a recepção da notificação de alteração.</p>
        <p>O prazo de pré-aviso não se aplica caso o <span>OpenMarket</span>:</p>
        <ol>
            <li class="numeric">Esteja sujeita a uma obrigação legal ou regulamentar que determine a alteração dos
                termos e
                condições de uma forma que a impeça de respeitar o prazo de pré-aviso;</li>
            <li class="numeric">Altere excepcionalmente as suas termos e condições gerais para fazer face a um perigo
                imprevisto
                e iminente relacionado com a defesa dos serviços de intermediação em linha, dos seus consumidores ou de
                outros
                utilizadores profissionais contra a fraude, os programas informáticos maliciosos (malware), as
                comunicações
                comerciais não solicitadas (spam), as violações de dados ou outros riscos em matéria de cibersegurança.
            </li>
        </ol>
    </details>
    <details>
        <summary>Serviços</summary>
        <p>A <span>OpenMarket</span> é a responsável pelo desenvolvimento, operação e manutenção do Site
            <span>OpenMarket</span>.
        </p>
        <p>Nesse sentido, cedemos espaços no site e nas Aplicações para que possa colocar e publicar o seu anúncio.</p>
        <p>Gerimos a apresentação do anúncio colocado pelo Anunciante.</p>
        <p>A contratação dos nossos serviços é efectuada através de contratação electrónica.</p>
        <p>A utilização dos serviços só deve ser efectuada por pessoas, singulares ou colectivas, com capacidade
            jurídica
            para a celebração de contratos. É expressamente proibida a utilização por menores de 18 anos.</p>
        <p>No que respeita a pessoas coletivas e unidades organizacionais sem personalidade jurídica, estas devem criar
            uma
            Conta no seu nome, sendo que apenas a pessoa autorizada a agir em nome dessas entidades pode executar todas
            as
            actividades no Website.</p>
        <p>O <span>OpenMarket</span> reserva-se o direito, a qualquer momento, de modificar ou interromper a
            acessibilidade de
            todo ou parte do Serviço e / ou do site ou Aplicações.</p>
        <p>A celebração do contrato com o <span>OpenMarket</span> implica a obrigatoriedade de recepção de emails
            informativos
            relacionados com a sua conta e gestão dos anúncios por parte do <span>OpenMarket</span>.</p>
    </details>
    <details>
        <summary>Responsabilidade</summary>
        <p>Os anúncios são sempre da responsabilidade do Anunciante e não do <span>OpenMarket</span>.</p>
        <p>O <span>OpenMarket</span> não assume qualquer responsabilidade pelos anúncios e respectivo conteúdo publicados
            no
            site <span>OpenMarket</span>, nem responde por quaisquer danos ou prejuízos resultantes desses anúncios ou
            transacções efectuadas.</p>
        <p>O <span>OpenMarket</span> não assume qualquer responsabilidade por qualquer consequência resultante da falta de
            capacidade jurídica do Anunciante.</p>
        <p>São da responsabilidade do Anunciante todas as despesas, judiciais ou extrajudiciais, incluindo honorários de
            advogados e/ou solicitadores, que o <span>OpenMarket</span> venha a ter para cobrança dos créditos que tenha
            sobre
            esse Anunciante e/ou em virtude do incumprimento pelo Anunciante dos presentes Termos e Condições.</p>
    </details>
    <details>
        <summary>Violação dos Termos e Condições</summary>
        <p>O <span>OpenMarket</span> reserva-se ao direito de decidir as acções a serem executadas no caso de anúncios que
            violem as regras de utilização do <span>OpenMarket</span>.
    </details>
    <details>
        <summary>Invalidades</summary>
        <p>A eventual invalidade, total ou parcial, de qualquer das disposições dos presentes termos e condições, não
            afectará a validade das restantes.</p>
    </details>
</div>
<div class="openmarket-ads vertical-ads pages-ads">
    <a href="https://www.openmarket.com">
            <img src="/pubs/anuncios-vertical.jpg" alt="OpenMarket">
        </a>
        <p>OpenMarket Ads</p>
</div>
@if (Model.alerts_list != null)
{
    foreach (var alert in Model.alerts_list)
    {
        <div class="alerts-container">
    <div class="alert-content">
        <span onclick="closePanel('alerts-container');cookieAlert('fz_tc', '@alert.cookie_time');">&times;</span>
        <h2>@alert.title</h2>
        <textarea id="alert-text" readonly>@alert.text</textarea>
        <script>
            var textarea = document.getElementById("alert-text");
            textarea.style.height = textarea.scrollHeight + 20 + "px";
        </script>
        @if (!string.IsNullOrEmpty(@alert.button_text))
                {
                    <a onclick="cookieAlert('fz_tc', '@alert.cookie_time')" href="@alert.button_url">@alert.button_text</a>
                }
            </div>
        </div>
    }
}