@page "{Msg?}"
@model MyApp.Namespace.recuperar_passwordModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section head{
<title>OpenMarket - Recuperar Password</title>
<meta name="title" content="OpenMarket - Recuperar Password" />
<meta name="description" content="Recupera a password da tua conta de forma rápida e segura." />
@* Facebook, Others *@
<meta property="og:title" content="OpenMarket - Recuperar Password">
<meta property="og:image" content="https://www.openmarket.com/imgs/Logotipo.jpg">
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:url" content="https://www.openmarket.com/minha-conta/recuperar-password">
<meta property="og:type" content="article" />
<meta property="og:description" content="Recupera a password da tua conta de forma rápida e segura.">
@* Twitter *@
<meta property="twitter:title" content="OpenMarket - Recuperar Password">
<meta name="twitter:description" content="Recupera a password da tua conta de forma rápida e segura.">
<meta name="twitter:image" content="https://www.openmarket.com/imgs/Logotipo.jpg">
<meta name="twitter:card" content="summary_large_image">

<link rel="canonical" href="https://www.openmarket.com/minha-conta/recuperar-password" />
<link rel="stylesheet" href="~/css/account.css?v=104" />
<script async src="~/js/main.js?v=104"></script>
}
@section login{
<div class="navbar-login">
    <a href="~/entrar">My OpenMarket</a>
</div>
}
<div class="instructions-panel" id="alert-message-container" style="display: none;">
    <div class="alert-content">
        <h2>Instruções</h2>
        <p>1º Abra o email enviado</p>
        <p>2º Veja qual o nova senha definida para si</p>
        <p>3º Entre em <a href="www.openmarket.com/entrar">OpenMarket.com - Entrar</a> e coloque o seu email e a
            nova senha</p>
        <p>Nota: Recomendamos que troque a senha por uma nova à sua escolha</p>
        <a href="~/entrar">Iniciar Sessão</a>
    </div>
</div>
<div class="recover-password-container">
    <div class="recover-content">
        <h2>Esqueceu a sua senha?</h2>
        <form method="POST" asp-page-handler="Mail" id="form-recover-password" class="passwordRecover-content">
            <p>Endereço de e-mail</p>
            <div>
                <input type="email" name="email" id="email" placeholder="E-mail">
                <button type="button"
                    onclick="emailValidation('email','form-recover-password', 'recover-password-alert')"
                    class="password-button">Recuperar</button>
            </div>
            <span id="recover-password-alert"></span>
        </form>
    </div>
</div>
@if (Model.alerts_list != null)
{
    foreach (var alert in Model.alerts_list)
    {
        <div class="alerts-container">
    <div class="alert-content">
        <span onclick="closePanel('alerts-container');cookieAlert('fz_rp', '@alert.cookie_time');">&times;</span>
        <h2>@alert.title</h2>
        <textarea id="alert-text" readonly>@alert.text</textarea>
        <script>
            var textarea = document.getElementById("alert-text");
            textarea.style.height = textarea.scrollHeight + 20 + "px";
        </script>
        @if (!string.IsNullOrEmpty(@alert.button_text))
                {
                    <a onclick="cookieAlert('fz_rp', '@alert.cookie_time')" href="@alert.button_url">@alert.button_text</a>
                }
            </div>
        </div>
    }
}
@if (Model._Msg == "Sucesso")
{
    <script type="text/javascript">
    var panel = document.querySelector(".instructions-panel");
    panel.style.display = "flex";
</script>
}
else if (Model._Msg != null)
{
    <script type="text/javascript">
    document.getElementById("email").innerHTML == @Model._Msg;
    document.getElementById("recover-password-alert").innerHTML == "Este email não está registado!";
</script>
}