@page
@model MyApp.Namespace.municipiosModel
@using openmarket.Models;
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section head{
<title>OpenMarket - Categorias</title>
<meta name="title" content="OpenMarket - Municípios" />
<meta name="description" content="Descubre todos os anúncios por municípios no OpenMarket" />
@* Facebook, Others *@
<meta property="og:title" content="OpenMarket - Municípios">
<meta property="og:image" content="https://www.openmarket.com/imgs/Logotipo.jpg">
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:url" content="https://www.openmarket.com/municipios">
<meta property="og:type" content="article" />
<meta property="og:description" content="Descubre todos os anúncios por munícipios no OpenMarket">
@* Twitter *@
<meta property="twitter:title" content="OpenMarket - Municípios">
<meta name="twitter:description" content="Descubre todos os anúncios por munícipios no OpenMarket">
<meta name="twitter:image" content="https://www.openmarket.com/imgs/Logotipo.jpg">
<meta name="twitter:card" content="summary_large_image">
<link rel="canonical" href="https://www.openmarket.com/municipios" />
<link rel="stylesheet" href="~/css/adverts.css?v=104" />
}
@section login{
<div class="navbar-login">
    <a class="login-link" href="~/entrar">My OpenMarket</a>
</div>
}
<h3 class="categories-slogan">Encontre anúncios por municípios</h3>
<div class="groups-container">
    <div class="groups-content">
        @foreach (var item in Model.Cities.OrderBy(x => x.name))
        {
            <a href="#@item.name">@item.name</a>
        }
        <div class="adsense">
           
        </div>
    </div>
    <div class="categoriesOptions-content">
        @foreach (var item in Model.Cities.OrderBy(x => x.name))
        {
            valueFormat formatter = new valueFormat();
            string cityName = formatter.encodeText(@item.name);
            <div class="categories-bygroup">
                <a href="~/anuncios?provincia=@cityName" id="@item.name" class="categories-bygroup groups">@item.name</a>
                <div class="categories-bygroup categories">
                    @foreach (var item2 in Model.Municipalities.Where(x => x.city == item.id).OrderBy(x => x.name))
                    {
                        string minicipalityName = formatter.encodeText(@item2.name);
                        <a href="~/anuncios?municipio=@minicipalityName">@item2.name</a>
                    }
                </div>
            </div>
        }
    </div>
</div>
@if (Model.alerts_list != null)
{
    foreach (var alert in Model.alerts_list)
    {
        <div class="alerts-container">
    <div class="alert-content">
        <span onclick="closePanel('alerts-container');cookieAlert('fz_mncp', '@alert.cookie_time');">&times;</span>
        <h2>@alert.title</h2>
        <textarea id="alert-text" readonly>@alert.text</textarea>
        <script>
            var textarea = document.getElementById("alert-text");
            textarea.style.height = textarea.scrollHeight + 20 + "px";
        </script>
        @if (!string.IsNullOrEmpty(@alert.button_text))
                {
                    <a onclick="cookieAlert('fz_mncp', '@alert.cookie_time')" href="@alert.button_url">@alert.button_text</a>
                }
            </div>
        </div>
    }
}